{{ define "content" }}
<div class="dashboard-group">
<h2>Latest posts</h2>
<ul class="item-listing">
    {{ range .LatestPosts }}
    <li><a href="/{{ .Author }}/{{ .ID }}/">{{ .Title }}</a> by <a href="/{{ .Author }}">{{ .Author }}</a> {{ .Date }}</li>
    {{ end }}
</ul>
</div>
<div class="dashboard-group">
<h2>New members</h2>
<ul class="item-listing">
    {{ range .LatestUsers }}
    <li><a href="/{{ .Name }}">{{ .Name }}</a> joined {{ .MemberSince }}</li>
    {{ end }}
</ul>
</div>
{{ end }}

{{ define "title" }}Dashboard{{ end }}