{{ define "content" }}
<form name="login" action="/auth/login" method="POST">
    <p>
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Email address">
    </p>
    <p>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password">
    </p>
    <p>
    <input type="submit" value="Login" class="button">
    </p>
    <p>
    <a href="/auth/forgot">Forgot password?</a>
    </p>
</form>
{{ end }}

{{ define "title" }}Login{{ end }}