{{ define "content" }}
<div class="post-header">
    <p>{{ .Date }}</p>
    <h3>{{ .Title }} <small>by <a href="/{{ .Author }}">{{ .Author }}</a></small></h3>
</div>
<div class="post-content">
    <p>{{ .HTMLContent }}</p>
</div>
<p class="post-actions">
    {{ if .Self }}
    <a href="edit">edit</a>
    <a href="delete">delete</a>
    {{ end }}
    <a href="report">report</a>
    <!-- All post actions come here-->
    <!-- TODO: Add likes and comments -->
</p>
{{ end }}
{{ define "title" }}{{ .Title }} by {{ .Author }}{{ end }}