{{ define "content" }}
<div class="post-header">
    <p class="post-date">{{ .Date }}</p>
    <h1 class="post-title">{{ .Title }}</h1>
    <h3 class="post-subtitle">by <a href="/{{ .Author }}">{{ .Author }}</a></h3>
</div>
<div class="post-content">
    <p>{{ .HTMLContent }}</p>
</div>
<p class="post-actions">
    {{ if .Self }}
    <a href="edit">edit</a>
    <a href="delete">delete</a>
    {{ else }}
    <a href="report">report</a>
    {{ end }}
    <a href="like">{{ if .Liked }}unlike{{ else }}like{{ end }}</a>
    <!--<a href="comment">comment</a>!-->
    <!-- All post actions come here-->
    <!-- TODO: Add likes and comments -->
</p>
{{ end }}
{{ define "title" }}{{ .Title }} by {{ .Author }}{{ end }}