{{ define "content" }}
<h2>{{ .Name }}</small></h2>
{{ if .Biography }}
<p>
    <h4>Biography</h4>
    {{ .Biography }}
</p>
{{ end }}
{{ if .Self }}
<p>
    <a href="/profile/edit">Edit</a>
    <a href="/profile/delete">Delete</a>
</p>
{{ end }}
<hr>
<ul class="item-listing">
    {{ range .Posts }}
    <li><a href="/{{ .Author }}/{{ .ID }}/">{{ .Title }}</a><br><small>on {{ .Date }}</small></li>
    {{ else }}
    This user has not written any posts yet.
    {{ end }}
</ul>
{{ end }}
{{ define "title" }}Profile of {{ .Name }}{{ end }}