{{ define "content" }}
<form name="signup" action="/auth/signup" method="POST">
    <p>
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Username">
        <br>
        <small>Your username should only consist of alphanumerics.</small>
    </p>
    <p>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Email">
        <br>
        <small>You will receive a verification email to confirm your account.</small>
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password">
        <br>
        <label for="password_confirm">Password (again)</label>
        <input type="password" name="password_confirm" placeholder="Password (again)">
        <br>
        <small>Your password should have at least 8 characters.</small>
    </p>
    <p>
        <input type="checkbox" name="accept_tos">
        <label for="accept_tos">Accept <a href="/legal/terms-of-service">Terms of Service</a> and <a href="/legal/privacy-policy">Privacy Policy</a></label>
    </p>
    <p>
        <input type="submit" label="Sign up">
    </p>
</form>
{{ end }}

{{ define "title" }}Sign up{{ end }}