{{ define "content" }}
<div class="dashboard-group">
<h2>
    Popular posts
    <small class="dashboard-options">
        this
        {{ range .PopularOptions }}
        <a href="/?popular={{ .Name }}" {{ if .Active }}class="active"{{ end }}>
            {{ .Name }}
        </a>
        {{ end }}
    </small>
</h2>
<ul class="item-listing">
    {{ range .PopularPosts }}
    <li class="item-flex">
        <div class="item-index">{{ .Likes }}</div>
        <div class="item-body">
            <a href="/{{ .Author }}/{{ .ID }}/">{{ .Title }}</a> by <a href="/{{ .Author }}">{{ .Author }}</a>
            <br><small>{{ .Date }}</small>
        </div>
    </li>
    {{ end }}
</ul>
<div class="dashboard-group">
<h2>New members</h2>
<ul class="item-listing">
    {{ range .LatestUsers }}
    <li><a href="/{{ .Name }}">{{ .Name }}</a> joined {{ .MemberSince }}</li>
    {{ end }}
</ul>
</div>
{{ end }}

{{ define "title" }}Dashboard{{ end }}
