{{ define "content" }}
<div class="dashboard-group">
<h2>
    Popular posts
</h2>
<div class="dashboard-options">
    {{ range .PopularOptions }}<a href="/?popular={{ .Name }}" {{ if .Active }}class="active"{{ end }}>{{ .Name }}</a>{{ end }}
</div>
<div class="item-listing">
    {{ range .PopularPosts }}
    <div class="item-flex" href="/">
        <div class="item-index">{{ .Likes }}</div>
        <div class="item-body">
            <a href="/{{ .Author }}/{{ .ID }}/">{{ .Title }}</a>
            <br><small>{{ .Date }} by <a href="/{{ .Author }}">{{ .Author }}</a></small>
        </div>
    </div>
    {{ else }}
    <div class="item-flex"><div class="item-entry">There have not been any posts published in the last {{ .PopularMode }}.</div></div>
    {{ end }}
</div>
</div>
<div class="dashboard-group">
<h2>New members</h2>
<ul class="item-listing">
    {{ range .LatestUsers }}
    <li class="item-flex">
        <div class="item-entry"><a href="/{{ .Name }}">{{ .Name }}</a> joined {{ .MemberSince }}</div>
    </li>
    {{ end }}
</ul>
</div>
{{ end }}

{{ define "title" }}Dashboard{{ end }}
