{{ define "content" }}
<style>
    table {
        border-collapse: collapse;
        border-color: #e8e8e8;
        width: 100%;
    }
    thead {
        border: none;
    }
    th {
        padding: 1rem 0;
    }
    td {
        padding: 0.5rem 1rem;
        border: 1px solid #e8e8e8;
    }
</style>
<table>
<thead>
<tr>
    <th>#</th>
    <th>User</th>
    <th>Title</th>
    <th>Reason</th>
    <th>Reporter</th>
    <th>Status</th>
    <th>Actions</th>
</tr>
</thead>
<tbody>
{{ range .Reports }}
<tr>
    <td>{{ .ID }}</td>
    <td><a href="/{{ .PostUser }}">{{ .PostUser }}</a></td>
    <td><a href="/{{ .PostUser }}/{{ .PostID }}">{{ .PostTitle }}</a></td>
    <td>{{ .Reason }}</td>
    <td><a href="/{{ .Reporter }}">{{ .Reporter }}</a></td>
    <td>{{ if .Status }}open{{ else }}closed{{ end }}</td>
    <td>
        <nav class="nav-horizontal">
        <a href="/moderate/delete/{{ .ID }}">delete</a>
        <a href="/moderate/close/{{ .ID }}">close</a>
        </nav>
    </td>
</tr>
{{ end }}
</tbody>
</table>
{{ end }}
{{ define "title" }}Moderate{{ end }}