{{ define "content" }}
<form name="post" action="/post" method="POST">
    {{ .CSRFToken }}
    {{ if .ID }}<input type="hidden" name="id" value="{{ .ID }}">{{ end }}
    <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" placeholder="Title" value="{{ .Title }}">
    </div>
    <div class="form-group">
    <label for="content">Content</label>
    <textarea name="content" placeholder="Hey ho, I want to be filled with content and support Markdown ..." rows="6">{{ .Content }}</textarea>
    </div>
    {{ if .ID }}
    <input type="submit" value="Update post" class="button">
    {{ else }}
    <input type="submit" value="Submit post" class="button">
    {{ end }}
</form>
{{ end }}
{{ define "title" }}
{{ if .ID }}
Update post
{{ else }}
Submit post
{{ end }}
{{ end }}