{{ define "content" }}
<h1 class="profile-name">{{ .Name }}</small></h1>
{{ if .Biography }}
<div class="profile-biography">
    <h3>
        Biography
    </h3>
    <p>{{ .Biography }}</p>
</div>
{{ end }}
{{ if .Self }}
<div class="profile-settings">
    <h3>Settings</h3>
    <nav class="nav-horizontal nav-actions">
        <a href="/profile/edit">edit biography</a>
        <a href="/auth/forgot">reset password</a>
        <a href="/auth/delete">delete account</a>
    </nav>
</div>
{{ end }}
<div class="profile-posts">
    <h3>Publications</h3>
    <ul class="item-listing">
        {{ range .Posts }}
        <li class="item-flex">
            <div class="item-entry"><a href="/{{ .Author }}/{{ .ID }}/">{{ .Title }}</a><br><small>on {{ .Date }}</small></div>
        </li>
        {{ else }}
        <li class="item-flex"><div class="item-entry">This user has not published any posts yet.</div></li>
        {{ end }}
    </ul>
</div>
{{ end }}
{{ define "title" }}Profile of {{ .Name }}{{ end }}